<div class="site-wrap" id="home-section" style="overflow-x: hidden; background-color: white">
    <div class="site-blocks-cover" style="overflow: hidden">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" style="position: relative" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-6 mr-auto">
                        <h1>Make Your Business More Profitable</h1>
                        <p class="mb-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo
                            cupiditate facere deleniti fuga officia.
                        </p>
                        <div>
                            <a href="#" class="btn btn-primary mr-2 mb-2">Get Started</a>
                        </div>
                        <img
                            src="../../../assets/img/landing/iconos celestes/undraw_invest_88iw.svg"
                            alt="Image"
                            class="img-fluid img-absolute"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="features-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
                <div class="col-7 text-center mb-5">
                    <h2 class="section-title">Imagine Features</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quos quaerat sapiente nam, id
                        vero.
                    </p>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                    <div class="unit-4 d-block">
                        <div class="unit-4-icon mb-3">
                            <span class="icon-wrap">
                                <span class="fas fa-chart-line fa-2x"></span>
                                <span class="text-primary icon-autorenew"></span
                            ></span>
                        </div>
                        <div>
                            <h3>Marketing Consulting</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                                vitae eligendi at.
                            </p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="unit-4 d-block">
                        <div class="unit-4-icon mb-3">
                            <span class="icon-wrap">
                                <span class="fas fa-money-bill-wave fa-2x"></span>
                            </span>
                        </div>
                        <div>
                            <h3>Market Analysis</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                                vitae eligendi at.
                            </p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="unit-4 d-block">
                        <div class="unit-4-icon mb-3">
                            <span class="icon-wrap"><span class="fas fa-globe-americas fa-2x"></span> </span>
                        </div>
                        <div>
                            <h3>Easy Purchase</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae
                                vitae eligendi at.
                            </p>
                            <p><a href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="feature-big">
        <div class="container">
            <div class="mt-5 row mb-5 site-section">
                <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
                    <img
                        src="../../../assets/img/landing/iconos celestes/undraw_in_real_life_v8fk.svg"
                        alt="Image"
                        class="img-fluid"
                    />
                </div>
                <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
                    <h2 class="text-black">Observa en tiempo real</h2>
                    <p class="mb-4">
                        Podras observar las fluctuaciones en el mercado desde el momento en que estas sucedan.
                    </p>
                </div>

                <div class="row mb-5 site-section">
                    <div class="col-lg-7" data-aos="fade-right">
                        <img
                            src="../../../assets/img/landing/iconos celestes/undraw_Devices_re_dxae.svg"
                            alt="Image"
                            class="img-fluid"
                        />
                    </div>
                    <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
                        <h2 class="text-black">Diseño multimedia</h2>
                        <p class="mb-4">
                            Un diseño responsivo que te permitira ver todos tus tableros usando cualquier dispositivo.
                        </p>
                    </div>
                </div>
                <div class="mt-5 row mb-5 site-section">
                    <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
                        <img
                            src="../../../assets/img/landing/iconos celestes/undraw_personal_file_222m.svg"
                            alt="Image"
                            class="img-fluid"
                        />
                    </div>
                    <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
                        <h2 class="text-black">Tu mundo</h2>
                        <p class="mb-4">
                            Contaras con tu propio tablero para que puedas organizar que acciones quieres seguir.
                        </p>
                    </div>
                </div>
                <div class="row mb-5 site-section">
                    <div class="col-lg-7" data-aos="fade-right">
                        <img
                            src="../../../assets/img/landing/iconos celestes/undraw_Savings_re_eq4w.svg"
                            alt="Image"
                            class="img-fluid"
                        />
                    </div>
                    <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
                        <h2 class="text-black">Communicate and gather feedback</h2>
                        <p class="mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto
                            autem molestias corrupti officia veniam.
                        </p>
                    </div>
                </div>
                <div class="mt-5 row mb-5 site-section">
                    <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
                        <img
                            src="../../../assets/img/landing/iconos celestes/undraw_authentication_fsn5.svg"
                            alt="Image"
                            class="img-fluid"
                        />
                    </div>
                    <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
                        <h2 class="text-black">La proteccion es lo primero</h2>
                        <p class="mb-4">
                            Contamos con un sistema de autenticacion con el cual podras registrarte de manera segura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light" id="about-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">Sobre nosotros</h2>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-6" data-aos="fade-right">
                    <img
                        src="../../../assets/img/landing/iconos celestes/undraw_newspaper_k72w.svg"
                        alt="Image"
                        class="img-fluid"
                    />
                </div>
                <div class="col-lg-5 ml-auto pl-lg-5">
                    <h2 class="text-black mb-4 h3 font-weight-bold">Nuestra mision</h2>
                    <p class="mb-4">Aprobar</p>
                    <h2 class="text-black mb-4 h3 font-weight-bold">Como?</h2>
                    <ul class="mb-5 fa-ul">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Presentandonos a clase.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Estudiando y aprobando los examenes.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Por favor?
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Ad at tempore
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>Labore quaerat esse
                        </li>
                    </ul>
                    <p><a href="#" class="btn btn-primary">Mas Informacion</a></p>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------- Nuestro grupo ----------------------------------->
    <div class="site-section" id="our-team-section">
        <div class="container">
            <div class="site-section bg-light">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-12 text-center">
                            <h2 class="section-title mb-3">Nuestro Equipo</h2>
                        </div>
                    </div>
                    <div class="mt-5 row mb-5 site-section">
                        <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
                            <img
                                src="../../../assets/img/landing/iconos celestes/undraw_meet_the_team_e5b7.svg"
                                alt="Image"
                                class="img-fluid"
                            />
                        </div>
                        <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
                            <p class="mb-4">
                                Somos 6 nomas haciendo esta wea.<br />Daaaa, girame un titulo por el esfuerzo loco!!!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Juli.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Julian Gonzalez</h2>
                            <span class="sub-title d-block mb-3">President</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Tomi M.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">John Rooster</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Will Turner</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                        <div class="person">
                            <div class="bio-img" style="overflow: hidden">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Luca.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                        style="margin: -22.75% 0 0 0"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/lucasain/"
                                        ><span class="fab fa-linkedin"></span
                                    ></a>
                                    <a href="https://twitter.com/luca_sain"><span class="fab fa-twitter"></span></a>
                                    <a href="https://www.instagram.com/luca_sain/"
                                        ><span class="fab fa-instagram"></span
                                    ></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Luca Sain</h2>
                            <span class="sub-title d-block mb-3">IT Infraestructure</span>
                            <p>
                                I'm a student, I work in IT for the last two years, I'm passionate about DIY projects
                                and sciences.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">George Brook</h2>
                            <span class="sub-title d-block mb-3">Founder</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Emely Hopson</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Cloe Marena</h2>
                            <span class="sub-title d-block mb-3">President</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">John Rooster</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Will Turner</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Nicolas Stainer</h2>
                            <span class="sub-title d-block mb-3">Financing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">George Brook</h2>
                            <span class="sub-title d-block mb-3">Founder</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="person">
                            <div class="bio-img">
                                <figure>
                                    <img
                                        src="../../../assets/img/landing/Equipo/Eze.jpg"
                                        alt="Image"
                                        class="img-fluid"
                                    />
                                </figure>
                                <div class="social">
                                    <a href="#"><span class="fab fa-linkedin"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                </div>
                            </div>
                            <h2 class="text-black h1">Emely Hopson</h2>
                            <span class="sub-title d-block mb-3">Marketing</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis
                                qui doloribus perspiciatis ipsa modi accusantium repellat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------- Owl Carousel ----------------------------------->
    <div class="site-section testimonial-wrap bg-light" id="testimonials-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">Testimonials</h2>
                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="https://media-exp1.licdn.com/dms/image/C4D03AQFtOwo4v10Hsg/profile-displayphoto-shrink_200_200/0?e=1606953600&v=beta&t=qer7i0U_oi7tasZucgKR1DaehjTU3piQ4k2ZTB-s9NA"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;El Equipo trabajó en gran detalle la Arquitectura del Sistema tomando como
                                drivers la Escalabilidad, Mantenibilidad y Usabilidad de la solución. Han seleccionado
                                minuciosamente el stack tecnológico, los componentes de software y la infraestructura
                                dónde está desplegada. Es un proyecto que tiene mucho potencial, ya que existe un equipo
                                detrás con una gran base técnica, pero fundamentalmente con gran calidez humana.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>Lucas Saclier</strong></p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="../../../assets/img/landing/Testimonials/sandraGrego.jpg"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;En estos dos años el grupo ha trabajado en el aprendizaje y la práctica del
                                idioma alemán, desarrollando habilidades de comprensión lectora y de escritura,
                                principalmente. Se trata de un grupo dinámico y con buena participación e interés, no
                                solo por aprender un idioma de alta exigencia, como es el alemán, sino también por
                                conocer más acerca de su cultura e historia. &rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>Sandra Grego</strong></p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="../../../assets/img/landing/Equipo/Juli.jpg"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>John Smith</strong></p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="../../../assets/img/landing/Equipo/Juli.jpg"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>John Smith</strong></p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="../../../assets/img/landing/Equipo/Juli.jpg"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>John Smith</strong></p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">
                            <div>
                                <img
                                    src="../../../assets/img/landing/Equipo/Juli.jpg"
                                    alt="Image"
                                    class="w-100 img-fluid mb-3 shadow"
                                />
                            </div>
                        </figure>
                        <blockquote class="mb-3">
                            <p>
                                &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>John Smith</strong></p>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>

    <div
        class="site-section bg-image2 overlay"
        id="contact-section"
        style="background-image: url('../../../assets/img/landing/undraw_growth_chart_r99m.svg')"
    >
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3 text-white">Contactanos</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7 mb-5">
                    <form action="#" class="p-5 bg-white">
                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Nombre</label>
                                <input type="text" id="fname" class="form-control rounded-0" />
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lname">Apellido</label>
                                <input type="text" id="lname" class="form-control rounded-0" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                <input type="email" id="email" class="form-control rounded-0" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="subject">Tema</label>
                                <input type="subject" id="subject" class="form-control rounded-0" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="message">Mensaje</label>
                                <textarea
                                    name="message"
                                    id="message"
                                    cols="30"
                                    rows="7"
                                    class="form-control rounded-0"
                                    placeholder="Deja tu mensaje aquí..."
                                ></textarea>
                            </div>
                        </div>

                        <div class="row form-group ali text-center">
                            <div class="col-md-12">
                                <input type="submit" value="Enviar" class="btn btn-primary mr-2 mb-2" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
