<div class="header bg-lightViolet" style="height: 80px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<div class="container-fluid bg-lightViolet">
    <!-- Fila de Grafico 1 y 2 -->

    <ng-template [ngIf]="userListsEmpty()" [ngIfElse]="listWithAssets">
        <div class="row">
            <div class="col-12 text-center">
                <img src="../../../assets/img/empty_things.svg" alt="Image" class="img-fluid" />
                <br />
                <br />
                <h1>Tu lista se encuentra vacía :(</h1>
                <button class="btn btn-tour" (click)="routeToCedears()">¡Agregar Cedears!</button>
            </div>
        </div>
    </ng-template>

    <ng-template #listWithAssets>
        <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0" *ngFor="let item of assetList">
                <app-candlestick-chart [assetIncoming]="item" [collapseInactive]="true"></app-candlestick-chart>
            </div>
        </div>
    </ng-template>
</div>
