<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Prueba de la API de java!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
        >
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3">
                        <small>Boquita el mas grande</small>
                    </div>
                    <hr />
                    <!-------------------------------------------- DASHBOARD ---------------------------------------------------->
                    <div class="text-muted text-center mt-2 mb-3">
                        <small>Dashboard</small>
                    </div>
                    <div class="btn-wrapper text-center">
                        <div>
                            <input class="mb-1" #cedearAdd placeholder="Id del Asset" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="agregarAssetDashboard(cedearAdd.value)"
                            >
                                <span class="btn-inner--text">Agregar asset a dashboard</span>
                            </a>
                        </div>

                        <div>
                            <input class="mb-1" #cedearDelete placeholder="Id del Asset" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="eliminarAssetDashboard(cedearDelete.value)"
                            >
                                <span class="btn-inner--text">Eliminar asset de dashboard</span>
                            </a>
                        </div>

                        <hr />
                        <!-------------------------------------------- WATCHLIST ---------------------------------------------------->
                        <div class="text-muted text-center mt-2 mb-3">
                            <small>Watchlists</small>
                        </div>

                        <div>
                            <input class="mb-1" #watchlistName placeholder="Nombre de la watchlist" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="crearWatchlist(watchlistName.value)"
                            >
                                <span class="btn-inner--text">Crear watchlist</span>
                            </a>
                        </div>

                        <div>
                            <input class="mb-1" #watchlistId placeholder="Id de la watchlist" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="eliminarWatchList(watchlistId.value)"
                            >
                                <span class="btn-inner--text">Eliminar watchlist</span>
                            </a>
                        </div>

                        <div>
                            <input class="mb-1" #idWatchlist placeholder="Id de la watchlist" />
                            <input class="mb-1" #idWatchlistAsset placeholder="Id del Asset" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="agregarAssetWatchlist(idWatchlist.value, idWatchlistAsset.value)"
                            >
                                <span class="btn-inner--text">Agregar asset a watchlist</span>
                            </a>
                        </div>

                        <div>
                            <input class="mb-1" #idWatchlistDelete placeholder="Id de la watchlist" />
                            <input class="mb-1" #idWatchlistAssetDelete placeholder="Id del Asset" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="eliminarAssetWatchlist(idWatchlistDelete.value, idWatchlistAssetDelete.value)"
                            >
                                <span class="btn-inner--text">Eliminar asset de watchlist</span>
                            </a>
                        </div>

                        <div>
                            <input class="mb-1" #idWatchlistToChange placeholder="Id de la watchlist" />
                            <input class="mb-1" #watchlistNewName placeholder="Nombre nuevo de lista" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="actualizarNombreWatchList(idWatchlistToChange.value, watchlistNewName.value)"
                            >
                                <span class="btn-inner--text">Cambiar nombre lista de seguimiento</span>
                            </a>
                        </div>

                        <hr />
                        <hr />

                        <!-------------------------------------------- LocalStorage ---------------------------------------------------->

                        <div class="text-muted text-center mt-2 mb-3">
                            <small>Local Storage</small>
                        </div>

                        <div>
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="buscarDatosUsuario()"
                            >
                                <span class="btn-inner--text">Buscar datos del usuario</span>
                            </a>
                        </div>
                        <textarea cols="40"> {{ datosDelUsuario }} </textarea>

                        <div>
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="buscarDatosDashboard()"
                            >
                                <span class="btn-inner--text">Buscar datos del dashboard</span>
                            </a>
                        </div>
                        <textarea cols="40"> {{ datosDelDashboard }} </textarea>

                        <div>
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="buscarDatosWatchlist()"
                            >
                                <span class="btn-inner--text">Buscar datos del watchlist</span>
                            </a>
                        </div>
                        <textarea cols="40"> {{ datosDelWatchlist }} </textarea>

                        <div class="text-muted text-center mt-2 mb-3">
                            <small
                                >Aca recomiendo por el postman actualizar algun dato del usuario y apretar este boton
                                para actualizar el local storage y luego apretar el boton de arriba de todo de buscar
                                datos del usuario</small
                            >
                        </div>

                        <div>
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="actualizarDatosUsuario()"
                            >
                                <span class="btn-inner--text">Buscar datos del watchlist</span>
                            </a>
                        </div>

                        <!-------------------------------------------- Python API ---------------------------------------------------->

                        <div class="text-muted text-center mt-2 mb-3">
                            <small>Python API</small>
                        </div>

                        <div>
                            <input class="mb-1" #tickerName placeholder="Nombre del ticker" />
                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="buscarPreciosDolarDeCedear(tickerName.value)"
                            >
                                <span class="btn-inner--text">Buscar precios dolar del cedear</span>
                            </a>

                            <textarea cols="40"> {{ preciosDolar }} </textarea>
                        </div>

                        <div>
                            <input class="mb-1" #tickerNameTa placeholder="Nombre del ticker" />

                            <a
                                href="javascript:void(0)"
                                class="btn btn-neutral btn-icon mb-3"
                                (click)="buscarAnalisisTecnico(tickerNameTa.value)"
                            >
                                <span class="btn-inner--text">Analisis tecnico del cedear</span>
                            </a>

                            <textarea cols="40"> {{ analisisTecnico }} </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
