<div class="main-content">
    <nav class="navbar navbar-topLanding navbar-horizontal navbar-expand-md navbar-dark bg-default">
        <div class="container px-4">
            <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/home']">
                <img src="assets/img/brand/logo-blanco.png" />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                (click)="isCollapsed = !isCollapsed"
                aria-controls="sidenav-collapse-main"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a routerLinkActive="active" [routerLink]="['/home']">
                                <img src="assets/img/brand/logo-azul.png" />
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Navbar items -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home-section" class="nav-link nav-link-icon">
                            <i class="fas fa-home"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#features-section" class="nav-link nav-link-icon">
                            <i class="fas fa-tasks"></i>
                            <span class="nav-link-inner--text " [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Características</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#about-section" class="nav-link nav-link-icon">
                            <i class="fas fa-users"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Quiénes somos?</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === true">
                        <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/dashboard']">
                            <i class="fas fa-columns"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false">
                        <a class="nav-link nav-link-icon" (click)="signup()">
                            <i class="fas fa-user-plus"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Registrarse</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false">
                        <a class="nav-link nav-link-icon" (click)="login()">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Ingresar</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === true">
                        <a class="nav-link nav-link-icon" (click)="logout()">
                            <i class="fas fa-power-off"></i>
                            <span class="nav-link-inner--text" [ngClass]="isCollapsed == false ? '' : 'ocultaNombres'">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
<footer class="py-5 bg-default">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    <a
                        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                        class="font-weight-bold ml-1"
                        target="_blank"
                        >AHK Argentina - Sistemas IT</a
                    >
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            class="nav-link"
                            target="_blank"
                            >AHK Argentina - Sistemas IT</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            class="nav-link"
                            target="_blank"
                            >Sobre Nosotros</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            class="nav-link"
                            target="_blank"
                            >Blog</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            class="nav-link"
                            target="_blank"
                            >Licencia</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
