<div class="card bg-gradient-default shadow">
    <div class="card-header bg-transparent">
        <div class="row align-items-center">
            <!-- Titulo y subtitulo -->
            <div class="col">
                <input type="text" (keyup.enter)="onKeyUpEventonKeyUpEventTicker($event)" />
                <input type="text" (keyup.enter)="onKeyUpEventonKeyUpEventIndicator($event)" />
                <!-- Titulo cargado -->
                <ng-template [ngIf]="isDataAvailable" [ngIfElse]="loadingTitle">
                    <h2 class="text-white mb-0">{{ candleChartTicker }}</h2>
                    <h6 class="text-uppercase text-light ls-1 mb-1">
                        {{ candleChartName }}
                    </h6>
                    <h6 class="text-uppercase text-light ls-1 mb-1">
                        Indicador : {{ shareChartIndicator }}
                    </h6>
                </ng-template>

                <!-- Cargando titulo -->
                <ng-template #loadingTitle>
                    <h3 class="text-white mb-0">
                        Aca va el titulo...
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>
                </ng-template>
            </div>
            <!-- Botones del header de la card -->
            <div class="col">
                <ul class="nav nav-pills justify-content-end">
                    <ng-template
                        [ngIf]="collapseInactive"
                        [ngIfElse]="collapseActive"
                    >
                        <button
                            type="button"
                            class="btn btn-outline-primary text-white"
                            (click)="
                                chartIsCollapsed = !chartIsCollapsed;
                                collapseInactive = false
                            "
                            [attr.aria-expanded]="!chartIsCollapsed"
                            aria-controls="chart1"
                        >
                            Mostrar
                        </button>
                    </ng-template>

                    <ng-template #collapseActive>
                        <!-- Boton año -->
                        <li class="nav-item mr-2 mr-md-0">
                            <a
                                href="javascript:void(0)"
                                class="nav-link py-2 px-3"
                                [ngClass]="{ active: clicked === true }"
                                (click)="
                                    clicked = true;
                                    clicked1 = false;
                                    clicked2 = false;
                                    updateChartWith(aYearAgoDate(todayDate()))
                                "
                            >
                                <span class="d-none d-md-block">Un Año</span>
                                <span class="d-md-none">1A</span>
                            </a>
                        </li>
                        <!-- Boton mes -->
                        <li class="nav-item">
                            <a
                                href="javascript:void(0)"
                                class="nav-link py-2 px-3"
                                [ngClass]="{
                                    active: clicked1 === true
                                }"
                                (click)="
                                    clicked = false;
                                    clicked1 = true;
                                    clicked2 = false;
                                    updateChartWith(aMonthAgoDate(todayDate()))
                                "
                            >
                                <span class="d-none d-md-block">Un mes</span>
                                <span class="d-md-none">1M</span>
                            </a>
                        </li>
                        <!-- Boton semana -->
                        <li class="nav-item">
                            <a
                                href="javascript:void(0)"
                                class="nav-link py-2 px-3"
                                [ngClass]="{
                                    active: clicked2 === true
                                }"
                                (click)="
                                    clicked = false;
                                    clicked1 = false;
                                    clicked2 = true;
                                    updateChartWith(aWeekAgoDate(todayDate()))
                                "
                            >
                                <span class="d-none d-md-block">Un semana</span>
                                <span class="d-md-none">1S</span>
                            </a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
    <!-- Grafico -->
    <div
        id="chart1"
        class="card-body bg-gradient-white"
        [ngbCollapse]="chartIsCollapsed"
    >
        <!-- Chart -->
        <!--The content below is only a placeholder and can be replaced.-->
        <ng-template [ngIf]="isDataAvailable" [ngIfElse]="loading">
            <div id="chart">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [title]="chartOptions.title"
                ></apx-chart>
            </div>
        </ng-template>

        <ng-template #loading>
            <div class="d-flex justify-content-center" style="height: 380px">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>
