<!--
<div style="margin-top: 300px"></div>
-->
<!--
<ng-select
  [items]="Tickers"
  bindLabel="name"
  placeholder="Select city"
  [(ngModel)]="selectedCity"
>
</ng-select>
-->

<!--
                      <select
                        class="custom-select"
                        (change)="changeTickers($event)"
                        formControlName="tickerName"
                      >
                        <option value="">Elegir ticker</option>
                        <option
                          *ngFor="let ticker of Tickers"
                          [ngValue]="ticker"
                          value="{{ ticker.ticker }}"
                        >
                          {{ ticker.name }} - {{ ticker.ticker }}
                        </option>
                      </select>

<p>Selected city: {{ selectedCity }}</p>
-->
<div class="card bg-gradient-default shadow">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <!-- Titulo y subtitulo -->
      <!--
            <div class="jumbotron text-center">
                <h1 class="display-5">Angular Select Dropdown</h1>
            </div>

            -->

      <div class="container">
        <div class="row custom-wrapper">
          <div class="">
            <!-- Form starts
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            -->
            <form>
              <div class="group-gap">
                <div class="d-block my-3">
                  <div class="mb-3">
                    <ng-template [ngIf]="true" [ngIfElse]="loadingTitle">
                      <h2 class="text-white mb-0">{{ namex }}</h2>
                      <h6 class="text-uppercase text-light ls-1 mb-1">
                        {{ titlex }}
                      </h6>
                    </ng-template>

                    <div class="mb-3 ml-2 float-left">
                      <h6 class="text-uppercase text-light ls-1 mb-1">
                        Ticker : ticker
                        <!--

                        Ticker : {{ titlex }}
                        -->
                      </h6>
                      <ng-select
                      class="ticker-selector"
                        placeholder="Selecciona un ticker"
                        appearance="outline"
                        [items]="Tickers"
                        bindLabel="name"
                        bindValue="ticker"
                        [loading]="peopleLoading"
                        [clearable]="false"
                        [searchFn]="customSearchFn"
                        (change)="onChange($event)"
                      >
                        <ng-template ng-option-tmp let-item="item">
                          {{ item.name }} <br />
                          <small>{{ item.ticker }}</small>
                        </ng-template>
                      </ng-select>
                      <!--
                      <select
                        class="custom-select"
                        (change)="changeTickers($event)"
                        formControlName="tickerName"
                      >
                        <option value="">Elegir ticker</option>
                        <option
                          *ngFor="let ticker of Tickers"
                          [ngValue]="ticker"
                          value="{{ ticker.ticker }}"
                        >
                          {{ ticker.name }} - {{ ticker.ticker }}
                        </option>
                      </select>

                      -->
                    </div>

                    <div class="mb-3 ml-3 float-right">
                      <h6 class="text-uppercase text-light ls-1 mb-1">
                        Indicador : {{ indicator }}
                      </h6>

                      <ng-select
                      class="indicador-selector"
                      placeholder="Selecciona un Indicador"
                      [loading]="peopleLoading"
                        [items]="Indicators"
                        bindLabel="indicator"
                        [clearable]="false"
                        (change)="onChangeIndicator($event)"
                        bindValue="indicator"
                        [searchable]="false"
                        appearance="outline" #agreeSelect
                      >
                      <ng-template ng-option-tmp let-item="item" style="text-transform: uppercase;">
                        <span style="text-transform: uppercase;">{{ item }}</span>
                      </ng-template>

                      </ng-select>
                      <!--
                      <select
                        class="custom-select"
                        (change)="changeIndicator($event)"
                        formControlName="indicatorName"
                      >
                        <option value="">Elegir indicador</option>
                        <option
                          *ngFor="let indicator of Indicators"
                          [ngValue]="indicator"
                          value="{{ indicator }}"
                        >
                          {{ indicator }}
                        </option>
                      </select>

                      -->
                      <!--
                                -->
                    </div>

                    <!-- error block -->
                    <div></div>
                    <!--

                    <div
                      class="invalid-feedback"
                      *ngIf="isSubmitted && cityName.errors?.required"
                    >

                    -->
                    <sup>*</sup>
                    <!--
                    Por favor ingresa el ticker
                    -->
                  </div>
                </div>
              </div>

              <!-- Submit Button
                            <button type="submit" class="btn btn-danger btn-lg btn-block">
                                Submit
                            </button>
                        -->
            </form>
            <!-- Form ends -->
          </div>
        </div>
      </div>

      <div class="col">
        <!--
                <input type="text" (keyup.enter)="onKeyUpEventonKeyUpEventTicker($event)" />
                <input type="text" (keyup.enter)="onKeyUpEventonKeyUpEventIndicator($event)" />
                -->
        <!-- Titulo cargado -->
        <ng-template [ngIf]="true" [ngIfElse]="loadingTitle">
          <h2 class="text-white mb-0">{{ candleChartTicker }}</h2>
          <h6 class="text-uppercase text-light ls-1 mb-1">
            {{ candleChartName }}
          </h6>
          <h6 class="text-uppercase text-light ls-1 mb-1">
            Indicador : {{ shareChartIndicator }}
          </h6>
        </ng-template>

        <!-- Cargando titulo -->
        <ng-template #loadingTitle>
          <h3 class="text-white mb-0">
            Aca va el titulo...
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </h3>
        </ng-template>
      </div>
      <!-- Botones del header de la card -->
      <div class="col">
        <ul class="nav nav-pills justify-content-end">
          <!--
          <ng-template [ngIf]="collapseInactive" [ngIfElse]="collapseActive">

          -->
          <ng-template [ngIf]="collapseInactive">
            <button
              type="button"
              class="btn btn-outline-primary text-white"
              (click)="
                chartIsCollapsed = !chartIsCollapsed; collapseInactive = false
              "
              [attr.aria-expanded]="!chartIsCollapsed"
              aria-controls="chart1"
            >
              Mostrar
            </button>
          </ng-template>
          <!--

                    <ng-template #collapseActive>
                        <li class="nav-item mr-2 mr-md-0">
                            <a href="javascript:void(0)" class="nav-link py-2 px-3"
                                [ngClass]="{ active: clicked === true }" (click)="
                                    clicked = true;
                                    clicked1 = false;
                                    clicked2 = false;
                                    updateChartWith(aYearAgoDate(todayDate()))
                                ">
                                <span class="d-none d-md-block">Un Año</span>
                                <span class="d-md-none">1A</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{
                                    active: clicked1 === true
                                }" (click)="
                                    clicked = false;
                                    clicked1 = true;
                                    clicked2 = false;
                                    updateChartWith(aMonthAgoDate(todayDate()))
                                ">
                                <span class="d-none d-md-block">Un mes</span>
                                <span class="d-md-none">1M</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{
                                    active: clicked2 === true
                                }" (click)="
                                    clicked = false;
                                    clicked1 = false;
                                    clicked2 = true;
                                    updateChartWith(aWeekAgoDate(todayDate()))
                                ">
                                <span class="d-none d-md-block">Un semana</span>
                                <span class="d-md-none">1S</span>
                            </a>
                        </li>
                    </ng-template>

                -->
        </ul>
      </div>
    </div>
  </div>
  <!-- Grafico -->
  <div
    id="chart1"
    class="card-body bg-gradient-white"
    [ngbCollapse]="chartIsCollapsed"
  >
    <!-- Chart -->
    <!--The content below is only a placeholder and can be replaced.-->
    <ng-template [ngIf]="isDataAvailable" [ngIfElse]="loading">
      <div id="chart">
        <!--
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
          [autoUpdateSeries]="true"
        ></apx-chart>

        -->
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [markers]="chartOptions.markers"
          [title]="chartOptions.title"
          [fill]="chartOptions.fill"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [tooltip]="chartOptions.tooltip"
          [autoUpdateSeries]="true"
        ></apx-chart>
      </div>
    </ng-template>

    <ng-template #loading>
      <div class="d-flex justify-content-center" style="height: 380px">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
