<div class="card shadow">
    <div class="card-header bg-transparent">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0">Total orders</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Chart -->
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium aperiam soluta consequatur
                eligendi aliquid delectus explicabo accusamus velit possimus deserunt voluptatem veniam hic
                consequuntur, nobis commodi molestias ullam beatae.
            </p>
        </div>
    </div>
    <div class="card-body">
        <!-- Chart -->
        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium aperiam soluta consequatur
                eligendi aliquid delectus explicabo accusamus velit possimus deserunt voluptatem veniam hic
                consequuntur, nobis commodi molestias ullam beatae.
            </p>
        </div>
    </div>
</div>
