<div class="header bg-lightViolet" style="height: 100px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid bg-lightViolet">
    <!-- Table -->
    <div class="row" data-aos="fade-down" data-aos-delay="100">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0">TUS LISTAS</h3>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-outline-asset text-black" (click)="abrirModal()">
                                Nueva Lista
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <ng-template [ngIf]="isDataAvailable" [ngIfElse]="loading">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" *ngFor="let column of headers">
                                        {{ column }}
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows">
                                    <td *ngFor="let item of headers">
                                        {{ row[item] }}
                                    </td>

                                    <td class="text-right">
                                        <div
                                            class="btn btn-add"
                                            routerLinkActive="active"
                                            (click)="getAssetListObject(row.id)"
                                        >
                                            Detalles
                                        </div>
                                        <div class="btn btn-add" (click)="abrirModal2()">
                                            <i class="far fa-edit" aria-hidden="true"></i>
                                        </div>

                                        <div class="btn btn-delete" (click)="abrirModal3()">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>

                    <ng-template #loading>
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light"></thead>
                            <tbody>
                                <div class="d-flex justify-content-center" style="height: 380px">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <modal #myModal>
        <modal-header> Crear una Nueva Tabla </modal-header>

        <modal-content>
            <input class="mb-1 form-control" #watchlistName placeholder="Nombre de la watchlist" />
        </modal-content>

        <modal-footer>
            <a href="javascript:void(0)" class="btn btn-delete" (click)="cerrarModal()">
                <span class="btn-inner--text">Cancelar</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-add" (click)="crearLista(watchlistName.value)">
                <span class="btn-inner--text">Crear watchlist</span>
            </a>
        </modal-footer>
    </modal>
</div>
<div *ngFor="let row of rows">
    <modal #myModal2>
        <modal-header> Cambiar Nombre </modal-header>

        <modal-content>
            <input class="mb-1 form-control" #watchlistNewName placeholder="Nuevo nombre" />
        </modal-content>

        <modal-footer>
            <a href="javascript:void(0)" class="btn btn-delete" (click)="cerrarModal()">
                <span class="btn-inner--text">Cancelar</span>
            </a>
            <a
                href="javascript:void(0)"
                class="btn btn-add"
                (click)="cambiarNombreLista(row.id, watchlistNewName.value)"
            >
                <span class="btn-inner-text">Cambiar Nombre</span>
            </a>
        </modal-footer>
    </modal>

    <modal #myModal3>
        <modal-header>¿Realmente desea eliminar la lista? </modal-header>

        <modal-footer>
            <button class="btn btn-not-delete" (click)="eliminarLista(row.id)">
                <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-delete" (click)="cerrarModal()"><i class="fas fa-times"></i></button>
        </modal-footer>
    </modal>
</div>
