<div class="header bg-lightViolet" style="height: 100px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid bg-lightViolet">
    <!-- Table -->
    <div class="row" data-aos="fade-down" data-aos-delay="100">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Tus Listas</h3>
                    <div>
                        <button
                            type="button"
                            class="btn btn-outline-default"
                            style="position: absolute; margin-left: 100px; margin-top: -32px"
                            (click)="abrirModal()"
                        >
                            Nueva Lista
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- <div class="d-flex justify-content-center" style="height: 380px">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div> -->

                                <td class="text-right">
                                    <label class="btn-black" ngbButtonLabel> Detalles </label>
                                    <div class="btn btn-md btn-icon-only" (click)="abrirModal2()">
                                        <i class="far fa-edit" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn btn-md btn-icon-only" (click)="eliminarLista(row.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </ng-template>

                    <!--
                    <pagination-controls
                        directionLinks="false"
                        (pageChange)="p = $event"
                        responsive="false"
                    ></pagination-controls>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<modal #myModal>
    <modal-header> Crear una Nueva Tabla </modal-header>

    <modal-content>
        <input class="mb-1" #watchlistName placeholder="Nombre de la watchlist" />
    </modal-content>

    <modal-footer
        ><a href="javascript:void(0)" class="btn btn-add btn-icon mb-3" (click)="crearLista(watchlistName.value)">
            <span class="btn-inner--text">Crear watchlist</span>
        </a>
    </modal-footer>
</modal>
<modal #myModal2>
    <modal-header> Cambiar Nombre de la Tabla </modal-header>

    <modal-content>
        <input class="mb-1" #watchlistNewName placeholder="Nombre nuevo de lista" />
        <a
            href="javascript:void(0)"
            class="btn btn-neutral btn-icon mb-3"
            (click)="actualizarNombreWatchList(idWatchlistToChange.value, watchlistNewName.value)"
        >
            <span class="btn-inner--text">Cambiar Nombre Lista</span>
        </a>
    </modal-content>

    <modal-footer> </modal-footer>
</modal>
