.text-green {
    color: #ffffff !important;
}

a.text-green:hover,
a.text-green:focus {
    color: #8898aa !important;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, #19204d, #1a2151, #1b2354, #1d2458, #1e265c);
}
