/* You can add global styles to this file, and also import other style files */
* {
    scroll-behavior: smooth;
}

.bgGreenGoodPalette {
    background-color: #379d12;
}

.bgRedBadPalette {
    background-color: #a31621;
}

.bgPrimaryPalette {
    background-color: #19204d;
}

.bgButtonPallete {
    background-color: #12c9b9;
    color: #ffffff;
}

.bgSecondaryPalette {
    background-color: #5f71e5;
}

.bg-lightViolet {
    background-color: #edeffc;
}
