<div class="header bg-lightViolet" style="height: 80px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<div class="container-fluid bg-lightViolet">
    <!-- Dashboard vacio -->
    <ng-template [ngIf]="userDashboardEmpty()" [ngIfElse]="dashboardWithAssets">
        <div class="row">
            <div class="col-12 text-center">
                <img src="../../../assets/img/empty_things.svg" alt="Image" class="img-fluid" />
                <br />
                <br />
                <h1>Tu dashboard se encuentra vacío :(</h1>
                <button class="btn btn-tour" (click)="tour()">Guíame! <i class="fas fa-directions"></i></button>
                <button class="btn btn-tour" (click)="routeToCedears()">Agregar Cedears!</button>
            </div>
        </div>
    </ng-template>

    <!-- Dashboard con assets -->
    <ng-template #dashboardWithAssets>
        <div class="row" *ngFor="let item of userDashboard">
            <div class="col-12">
                <app-candlestick-chart
                    [assetIncoming]="item"
                    [collapseInactive]="true"
                    (delete)="deleteAsset($event)"
                ></app-candlestick-chart>
            </div>
        </div>
    </ng-template>
</div>
