<div class="header bg-lightViolet" style="height: 80px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<div class="container-fluid bg-lightViolet">
    <div class="row" *ngFor="let item of userDashboard">
        <div class="col-12">
            <app-candlestick-chart
                [assetIncoming]="item"
                [collapseInactive]="true"
                (delete)="deleteAsset($event)"
            ></app-candlestick-chart>
        </div>
    </div>
</div>
