.bg-gradient {
    background-image: radial-gradient(circle, #213d6e, #203b6a, #1e3866, #1d3662, #1c345e);
}

.btn-add {
    color: #12c9b9;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-add:hover {
    color: #ffffff;
    background-color: #12c9b9;
    border-color: #12c9b9;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
