<!--pb-8 pt-5 pt-md-8-->
<div class="header bg-gradient" style="height: 100px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt-4">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">CEDEARS</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" *ngFor="let column of headers">
                                    {{ column }}
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let row of rows
                                        | paginate
                                            : {
                                                  itemsPerPage: 10,
                                                  currentPage: p
                                              }
                                "
                            >
                                <td *ngFor="let item of headers">
                                    {{ row[item] }}
                                </td>

                                <td class="text-right">
                                    <label class="btn-black" ngbButtonLabel>
                                        <a routerLinkActive="active" (click)="getAssetObject(row.id)">Detalles</a>
                                    </label>

                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only" ngbDropdownToggle>
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0)"
                                                (click)="agregarAssetDashboard(row.id)"
                                                >Dashboard</a
                                            >
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0)"
                                                *ngFor="let list of items"
                                                (click)="agregarAssetLista(list.id, row.id)"
                                                >{{ list.name }}</a
                                            >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls
                        directionLinks="false"
                        (pageChange)="p = $event"
                        responsive="false"
                    ></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
