<div class="header bg-lightViolet" style="height: 80px">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<div class="container-fluid bg-lightViolet">
    <div class="row" data-aos="fade-down" data-aos-delay="100">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header headerColor">
                    <h2>Preguntas frecuentes</h2>
                </div>
                <div class="card-body">
                    <!-- Comienzo ACCORDION -->
                    <ngb-accordion [closeOthers]="true">
                        <!-- CEDEAR -->
                        <ngb-panel id="cedear" title="¿Qué es un cedear?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            </ng-template>
                        </ngb-panel>

                        <!-- ANALISIS TECNICO -->
                        <ngb-panel id="techAnalysis" title="¿En que consiste el analisis tecnico?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            </ng-template>
                        </ngb-panel>

                        <!-- INDICES DE MOVIMIENTO -->
                        <ngb-panel id="indices" title="¿Qué son los indices de movimiento?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.

                                <!-- QUE ES ADX -->
                                <ngb-accordion>
                                    <ngb-panel id="indices-1" title="¿Qué es Adx?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES DI+ -->
                                <ngb-accordion>
                                    <ngb-panel id="indices-2" title="¿Indice direccional positivo (Di+)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES DI- -->
                                <ngb-accordion>
                                    <ngb-panel id="indices-2" title="¿Indice direccional negativo (Di-)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>

                        <!-- BANDAS DE BOLLINGER -->
                        <ngb-panel id="bandas" title="¿Qué son las bandas de Bollinger?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.

                                <!-- QUE ES LINEA INFERIOR-->
                                <ngb-accordion>
                                    <ngb-panel id="bandas-1" title="¿Qué es la linea inferior (Lower)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES MEDIA MOVIL SIMPLE-->
                                <ngb-accordion>
                                    <ngb-panel id="bandas-2" title="¿Qué es la media movil simple (Mid)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES LA LINEA SUPERIOR-->
                                <ngb-accordion>
                                    <ngb-panel id="bandas-3" title="¿Qué es la linea superior (Upper)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES EL PRECIO DE CIERRE-->
                                <ngb-accordion>
                                    <ngb-panel id="bandas-4" title="¿Qué es el precio de cierre (Close)?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>

                        <!-- OSCILADOR ESTOCASTICO -->
                        <ngb-panel id="oscilador" title="¿Qué es el oscilador estocástico?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.

                                <!-- QUE ES SLOWK-->
                                <ngb-accordion>
                                    <ngb-panel id="oscilador-1" title="¿Qué es el Slowk?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- QUE ES SLOWD-->
                                <ngb-accordion>
                                    <ngb-panel id="oscilador-2" title="¿Qué es el Slowd?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>

                        <!-- INFORMACION DEL DOLAR -->
                        <ngb-panel id="dolar" title="¿Qué son los datos del dolar?">
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.

                                <!-- DOLAR CCL-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-1" title="¿Dolar CCL?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- DOLAR CEDEAR-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-2" title="¿Dolar cedear?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- DOLAR USA-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-3" title="¿Dolar cedear en USA?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- DOLAR BA-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-4" title="¿Dolar cedear en BA?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- TOTAL CEDEAR-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-5" title="¿Valor total del cedear?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>

                                <!-- DIFERENCIA PORCENTAJE-->
                                <ngb-accordion>
                                    <ngb-panel id="dolar-6" title="¿Diferencia contra el valor real?">
                                        <ng-template ngbPanelContent>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard.
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
